<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="create-product">
        <div class="form-feild">
            <label for="product-name">Product Name:</label>
            <input type="text" id="product-name" name="product-name" required>
        </div>
        
        <div class="form-feild">
            <label for="product-description">Product Description:</label>
            <textarea id="product-description" name="product-description" required></textarea>
        </div>

        <div class="form-feild">
            <label for="product-price">Product Price:</label>
            <input id="product-price" name="product-price" required>
        </div>
        
        <div class="form-feild">
            <label for="product-image">Product Image:</label>
            <input type="file" id="product-image" name="product-image" accept="image/*" required>
        </div>
        
        <div class="form-feild">
            <button type="submit" class="submit">Add Product</button>
        </div>
    </form>   
    <div class="myImage">
        <img alt="" srcset="">
    </div>
</body>
</html>